@use "../../abstracts/variables" as *;

.item {
     margin: 0.5rem 0;

     font-size: 1.25rem;

     color: $text-black-color;

     header {
          display: flex;
          justify-content: space-between;
          align-items: baseline;

          h3 {
               color: $text-black-color;
          }

          .price {
               padding: 0.15rem 1.5rem;

               border-radius: 30px;

               background-color: $bg-primary-black;
               color: $text-color;
               font-size: 1.5rem;
          }
     }

     p {
          color: $text-black-color;
     }

     .actions {
          text-align: end;
     }
}
