$bg-primary-dark: #3f3f3f;
$bg-primary-black: #252424;
$bg-primary-blue: #1a8ed1;
$bg-primary-blue-hover: #1ac5d1;
$bg-primary-green: #1ad1b9;

$border-dark-opace: rgba(0, 0, 0, 0.25);
$border-dark: rgba(0, 0, 0, 0.65);
$border-light-opace: rgba(255, 253, 253, 0.35);
$border-light: rgba(255, 253, 253, 0.75);

$text-color: white;
$text-dark-color: #575757;
$text-black-color: #1d1d1d;
$text-violet-hover-color: #b864da;

$bg-error: #ffeff1;
$text-error: #ca3e51;
